<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="TestDb"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=PassiveTest;Integrated Security=True;Asynchronous Processing=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>